html, input, hgroup h2 {
	font: 1em/1.6 sans-serif;
}

body {
	max-width: 40em;
	padding: 0 1em;
}

h1 {
	text-align: center;
	font-size: 1.3em;
	margin: 0 0 .5em;
	padding-top: 1em;
}

mark {
	background: #f8f5bc;
	padding: .2em;
}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #aaa;
	padding: .1em .2em;
}

a:hover, a:focus {
	color: #fff;
	border-color: #036;
	background: #36c;
}

i {
	font-style: normal;
}

#footer {
	margin-top: 2em;
	text-align: center;
}

blockquote {
	margin: 0 0 1em;
	border-left: .5em solid #e3e3e3;
	padding-left: 10px;
}

pre {
	padding: 1em;
	border: 3px double green;
	background: #90ee90;
}

.invalid {
	border-color: red;
	background: #ffb6c1;
}

input {
	background: #eee;
	border: 3px double grey;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	text-align: center;
	margin: 1em 0 .5em;
	padding: .7em;
}

label {
	display: block;
	cursor: pointer;
}

code, input {
	font-family: Monaco, monospace;
	font-size: .9em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

hgroup h2 {
	text-align: center;
	font-weight: bold;
}

h2 code, p code {
	border: 1px solid grey;
	padding: .2em;
	background: #f0f0f0;
}

var {
	background: #90ee90;
	padding: .2em;
}

.element {
	color: #036;
}

.attribute, .property {
	color: #006;
}

.parens {
	color: #090;
}

.symbol {
	color: #393;
}

.quote {
	color: #36c;
}

@media (min-width: 42em) {

	html {
		font-size: 1.2em;
		background: #c4c4c4;
		height: 100%;
	}

	body {
		margin: 0 auto;
		padding: 0 2em;
		min-height: 100%;
		background: #fff;
		border: solid #aaa;
		border-width: 0 1px;
	}

}