html {
	font: 1em/1.6 sans-serif;
}

body {
	max-width: 40em;
	padding: 0 1em;
}

h1 {
	text-align: center;
	font-size: 1.3em;
	margin: 0 0 1em;
	padding-top: 1em;
}

h2 {
	font-size: .8em;
}

h2:before {
	content: '<!-- ';
}

h2:after {
	content: ' -->';
}

div { /* http://bugzil.la/414526 */
	display: inline;
	border: 1px dotted #666;
	padding: .2em;
}

b {
	font-weight: normal;
}

mark {
	background: #f8f5bc;
	padding: .2em;
}

a, label {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #aaa;
	padding: .1em .2em;
	cursor: pointer;
}

label {
	cursor: help;
}

a:hover, a:focus, label:hover {
	color: #fff;
	border-color: #036;
	background: #36c;
}

#footer {
	text-align: center;
}

pre {
	background: #eee;
	padding: 1em;
}

code, h2 {
	font-family: Monaco, monospace;
}

code {
	font-size: .9em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.comment, #empty-comment, h2 {
	font-style: italic;
	color: #060;
}

.element {
	color: #036;
}

.attribute, .property {
	color: #006;
}

.parens {
	color: #090;
}

.symbol {
	color: #393;
}

.quote {
	color: #36c;
}

.method {
	color: #606;
}

#whitespace, #supplementary-characters, #empty {
	display: none;
	font-weight: bold;
	color: #b00b00;
}

#whitespace.show, #supplementary-characters.show, #empty.show {
	display: block;
}

#empty-comment {
	display: none;
	font-weight: bold;
}

#empty-comment.show {
	display: inline;
}

@media (min-width: 42em) {

	html {
		font-size: 1.2em;
		background: #c4c4c4;
		height: 100%;
	}

	body {
		margin: 0 auto;
		padding: 0 2em;
		min-height: 100%;
		background: #fff;
		border: solid #aaa;
		border-width: 0 1px;
	}

}
